extends layout

block content
  // Main container
  .container.py-4
    // Row for centering content
    .row.justify-content-center
      // Main column
      .col-lg-10
        // Chat card
        .card
          // Chat header with model selector and options
          .card-header
            .row
              // Model selector dropdown
              .col-md-2
                h6 Model
                select#model-selector.form-control
                  option(value="gpt-35-turbo") gpt-3.5-turbo
                  option(value="gpt-35-turbo-16k") gpt-3.5-turbo-16k
                  option(value="gpt-4") gpt-4
                  option(value="gpt-4-32k") gpt-4-32k
              // Token input
              .col-md-2
                h6 Token
                input#token-input.form-control(type='number', step='1', min='0', max='32768', placeholder='Token', value='500', onwheel='scrollValue(event)')
              // Temperature input
              .col-md-2
                h6 Temperature
                input#temperature-input.form-control(type='number', step='0.1', min='0.0', max='2.0', placeholder='Temperature', value='0.7', onwheel='scrollValue(event)')
              // Top P input
              .col-md-2
                h6 Top P
                input#top-p-input.form-control(type='number', step='0.1', min='0.0', max='1.0', placeholder='Top P', value='1', onwheel='scrollValue(event)')
              // Frequency penalty input
              .col-md-2
                h6 Frequency
                input#frequency-penalty-input.form-control(type='number', step='0.1', min='-2.0', max='2.0', placeholder='Frequency Penalty', value='0', onwheel='scrollValue(event)')
              // Presence penalty input
              .col-md-2
                h6 Presence
                input#presence-penalty-input.form-control(type='number', step='0.1', min='-2.0', max='2.0', placeholder='Presence Penalty', value='0', onwheel='scrollValue(event)')
          // Chat body with chat window
          .card-body#card-body
            #chat-window.chat-window
              ul#chat
          // Chat footer with message input and send button
          .card-footer
            form#chat-form
              .row
                .col-lg-10
                  textarea#message-input.form-control(rows='3', placeholder='Type a message...')
                .col-lg-2.ml-auto.align-self-end
                  button#sendButton.btn.btn-primary(type='submit') Send
                  button#stopButton.btn.btn-danger(type='button', disabled) Stop

  // Load scripts
  block scripts
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js")
    script(src="/javascripts/index.js")
