body, html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#card-body {
    height: 25vh;
    overflow-y: auto;
}

#stopButton {
    display: none;
}
/*
#custom-endpoint-div {
 display: none;
 }
 */